<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">

            <a href="/home">
                <div class="navbar-logo-bg rounded-3">
                    <img class="navbar-logo bg-dark rounded-3" src="/img/svg/treasure-palm-island.svg" alt=""
                         width="60" height="60">
                </div>
            </a>

            <a class="navbar-brand d-none d-sm-block d-md-none">Treasure Hunter</a>
            <a class="navbar-brand d-block d-sm-none">T H</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#main_navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_navbar">
                <div class="d-flex">
                    <ul class="navbar-nav navbar-nav-scroll left-nav text-nowrap">
                        <li class="nav-item active"><a href="/home" class="nav-link">
                            <i class="bi bi-house-fill text-light"></i> Home</a></li>
                        <li class="nav-item dropdown">

                            <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-people text-light"></i> Users</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/allUsers" th:action="@{/allUsers}">All Users</a>
                                </li>
                                <li><a class="dropdown-item" href="/addUser" th:action="@{/addUser}">Add New User</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-puzzle text-light bi-rotate-90"></i> Puzzles</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" href="/allPuzzles" th:action="@{/allPuzzles}">All
                                        Puzzles</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/addPuzzle" th:action="@{/addPuzzle}">Add New
                                        Puzzle</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-geo-alt text-light"></i> Markers</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" href="/allMarkers" th:action="@{/allMarkers}">All
                                        Markers</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/addMarker" th:action="@{/addMarker}">Add New
                                        Marker</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="search-box-navbar d-flex flex-grow-1 pe-3">
                    <form class="d-flex d-md-none d-lg-flex d-lg-block" th:action="@{/search}" method="get">
                        <label for="search"></label>
                        <input id="search" class="form-control" type="search" name="term" minlength="3"
                               placeholder="Search.."
                               autocomplete="off" required>
                        <button class="btn btn-info search-btn" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>

                <div class="search-icon-small d-none d-md-block d-lg-none align-items-end me-3">
                    <a class="btn btn-info search-btn" type="submit" href="/search" th:href="@{/search}"><i
                            class="bi bi-search"></i></a>
                </div>

                <div class="user-settings d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown admin-dropdown">
                            <a class="nav-link" href="" role="button" data-bs-toggle="dropdown">

                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                                     class="bi bi-person-lines-fill admin-icon text-white" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>

                            </a>
                            <ul class="dropdown-menu dropdown-menu-end end-0 dropdown-menu-dark">
                                <li>
                                    <button id="resetDB" class="dropdown-item btn" data-bs-toggle="modal"
                                            data-bs-target="#resetModal"
                                    >Reset Database
                                    </button>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://gitlab.com/aneziou/treasure_hunter"
                                       target="_blank">Source
                                        Code</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider admin-dropdown-hr">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </nav>
    <div class="modal fade" tabindex="-1" role="dialog" id="resetModal">
        <div class="modal-dialog pt-5" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to reset the Database?</p>
                </div>
                <div class="modal-footer">
                    <form action="#" th:action="@{/resetDB}" method="post">
                        <button class="btn btn-danger" type="submit" name="action" id="resetRef"
                                value="resetDB" th:action="@{/resetDB}">Reset
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>