@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    --angle: 0deg;
}

* {
    margin: 0;
    padding: 0;
}

html {
}

body {
    background: repeating-linear-gradient(to right, #DA6E2A, #E39E5A);
    padding-top: 85px;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

::placeholder {
    font-weight: normal;
}

.navbar {
    /*font-family: 'Berkshire Swash', cursive;*/
}

.login-body {
    padding-top: 0;
}

.table-scrollable {
    overflow-x: auto;
    margin: auto;
}

td {
    overflow-wrap: anywhere;
}

td .btn {
    overflow-wrap: normal;
}

.wrapper {
}

.vr {
    width: 2px;
    color: #FFFFFF4F;
    opacity: 1;
}

.admin-dropdown-hr {
    border: 1px solid white;
    opacity: 0.7;
}

.bordy {
    border: red solid 1px;
}

.search-btn {
    margin-left: -10px;
}

/* HOME CARDS */
.card-home {
    border-radius: 25px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.card-home:hover {
    box-shadow: 3px 6px 6px 3px #000;
    transform: scale(1.2);
    z-index: 3;
}

.i-home {
    font-size: 5rem;
}

.i-home:hover {
    transform: scale(1.5);
}

/* OTHER CARDS */
.card-title {
    /*font-family: 'Berkshire Swash', cursive;*/
}

.glassCard {
    background: repeating-linear-gradient(30deg, #DA6E2A, #E39E5A);
    background: rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    min-width: 80vw;
}

.card-left-img {
    width: 40%;
    background-size: cover;
}

.card-left-map {
    width: 50%;
    background-size: cover;
}

/* GOOGLE MAPS */
#googleMap {
    min-height: 400px;
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.latLong {
    border: 3px solid #212529;
    margin-top: 15px;
    border-radius: 10px;
}

.overlay-text {
    margin-top: -30px;
}

.overlay-text span {
    background-color: #212529;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.controls {
    border: red solid 2px;
}

.input-group span {
    min-width: 25%;
}

.input-group-text {
    font-weight: bold;
    align-content: end;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.login-image {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

img {
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    user-select: none;
}

.navbar-nav {
    font-size: 1.3rem;
}

.left-nav {
    padding-left: 20px;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    font-weight: bolder;
    background: repeating-linear-gradient(90deg, #DA6E2A, #E39E5A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.navbar-logo-bg:hover {
    position: relative;
    background: linear-gradient(var(--angle), #E39E5A, #DA6E2A);
    padding: 3px;
    animation: animateReverse 7s infinite;
    -webkit-animation: animateReverse 7s infinite;
}

.navbar-logo-bg {
    position: relative;
    background: linear-gradient(var(--angle), #DA6E2A, #E39E5A);
    padding: 3px;
    animation: animate 15s infinite;
    -webkit-animation: animate 15s infinite;
}

.admin-icon:hover {
    scale: 1.2;
    fill: #DA6E2A;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #212529;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.plus-button {
    font-size: 40px;
    color: white;
}

.plus-button:hover {
    color: #198754;
}

/* SEARCH BOX */
.input-box {
    top: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 210px;
    overflow-x: hidden;
    display: block;
    background: transparent;
    list-style: none;
    z-index: 999;
}

.input-box li {
    padding-bottom: 5px;
    background-color: navajowhite;
}

.input-box li:nth-child(odd) {
    background-color: antiquewhite;
}

.input-box li:hover {
    background: lightblue;
    text-align: left;
    cursor: pointer;
}

/* SEARCH PAGE */
.search-results {
    border: 5px solid #212529;
    margin-top: 15px;
    border-radius: 10px;
    padding: 2rem;
}

.search-results-child {
    border: 3px solid #212529;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 2rem;
    /*opacity: 0.2;*/
}

.overlay-search {
    margin-top: -50px;
    font-size: 2rem;
}

.overlay-search-child {
    margin-top: -70px;
    font-size: 1.5rem;
}

.overlay-search span {
    background-color: #212529;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.overlay-search-child span {
    background-color: #212529;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.batons {
    width: 100px;
}

/* MEDIA */
@media all and (min-width: 768px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .search-box-navbar {
        justify-content: end;
    }

    .search-icon-small {
        display: none;
    }

}

@media all and (max-width: 768px) {

    .navbar .nav-item .dropdown-menu {
        display: flex;
        padding: 1rem;
    }

    .card-left-map {
        width: 100%;
    }

    .card-main-container {
        flex-direction: column-reverse;
    }

    .search-box-navbar {
        padding-top: 2rem;
        padding-left: 20px;
        justify-content: start;
    }

    .user-settings {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .admin-icon {
        display: none;
    }

    .admin-dropdown {
        display: flex;
    }

    .admin-dropdown-hr {
        display: none;
    }

    .card-home {
        display: flex;
        flex-direction: column;
    }

}


/* ANIMATIONS */
@keyframes animate {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 3600deg;
    }
}

@keyframes animateReverse {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: -3600deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}