<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Add Marker</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">

</head>
<body>
<section class="container-fluid">

    <div class="card-container h-100 w-100">
        <div class="col-lg-11 col-xl-10 mx-auto">

            <div class="card glassCard shadow-lg rounded-5 m-3 overflow-hidden">
                <div class="card-main-container w-100 d-flex">

                    <div class="card-left-map d-flex align-middle align-items-center justify-content-center">
                        <div id="googleMap"></div>
                        <script>
                            function initialize() {
                                const mapProp = {
                                    center: new google.maps.LatLng(41.075388313924385, 23.55362296197127),
                                    zoom: 17,
                                    mapTypeId: 'hybrid',
                                    styles: [
                                        {
                                            elementType: "geometry",
                                            stylers: [{color: "#242f3e"}]
                                        },
                                        {
                                            elementType: "labels.text.stroke",
                                            stylers: [{color: "#242f3e"}]
                                        },
                                        {
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#746855"}]
                                        },
                                        {
                                            featureType: "administrative.locality",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#d59563"}]
                                        },
                                        {
                                            featureType: "poi",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#da6e2a"}]
                                        },
                                        {
                                            featureType: "poi.park",
                                            elementType: "geometry",
                                            stylers: [{color: "#263c3f"}]
                                        },
                                        {
                                            featureType: "poi.park",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#6b9a76"}]
                                        },
                                        {
                                            featureType: "road",
                                            elementType: "geometry",
                                            stylers: [{color: "#38414e"}]
                                        },
                                        {
                                            featureType: "road",
                                            elementType: "geometry.stroke",
                                            stylers: [{color: "#212a37"}]
                                        },
                                        {
                                            featureType: "road",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#9ca5b3"}]
                                        },
                                        {
                                            featureType: "road.highway",
                                            elementType: "geometry",
                                            stylers: [{color: "#746855"}]
                                        },
                                        {
                                            featureType: "road.highway",
                                            elementType: "geometry.stroke",
                                            stylers: [{color: "#1f2835"}]
                                        },
                                        {
                                            featureType: "road.highway",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#f3d19c"}]
                                        },
                                        {
                                            featureType: "transit",
                                            elementType: "geometry",
                                            stylers: [{color: "#2f3948"}]
                                        },
                                        {
                                            featureType: "transit.station",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#d59563"}]
                                        },
                                        {
                                            featureType: "water",
                                            elementType: "geometry",
                                            stylers: [{color: "#17263c"}]
                                        },
                                        {
                                            featureType: "water",
                                            elementType: "labels.text.fill",
                                            stylers: [{color: "#515c6d"}]
                                        },
                                        {
                                            featureType: "water",
                                            elementType: "labels.text.stroke",
                                            stylers: [{color: "#17263c"}]
                                        }
                                    ]
                                };

                                const map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                                google.maps.event.addListener(map, 'click', function (event) {
                                    document.getElementById("latitude").value = event.latLng.lat();
                                    document.getElementById("longitude").value = event.latLng.lng();
                                    placeMarker(event.latLng, map);
                                });

                                const PolyPath = new google.maps.Polyline({
                                    path: [
                                        {lat: 41.076722692123184, lng: 23.555985689163208},
                                        {lat: 41.076783350015965, lng: 23.552879691123966},
                                        {lat: 41.07601501257157, lng: 23.550154566764835},
                                        {lat: 41.075460995262915, lng: 23.54954838752747},
                                        {lat: 41.074522794719456, lng: 23.551082611083988},
                                        {lat: 41.07396472080365, lng: 23.551082611083988},
                                        {lat: 41.074001117073024, lng: 23.556511402130127},
                                        {lat: 41.076722692123184, lng: 23.555985689163208},
                                    ],
                                    geodesic: true,
                                    strokeColor: "#FF0000",
                                    strokeOpacity: 2.0,
                                    strokeWeight: 3,
                                });
                                PolyPath.setMap(map);
                            }

                            let marker;

                            function placeMarker(location, map) {
                                if (marker) {
                                    marker.setPosition(location);
                                } else {
                                    marker = new google.maps.Marker({
                                        position: location,
                                        map: map
                                    });
                                }
                            }

                            // window.addEventListener('load',initialize);
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?size=800x800&key=AIzaSyD7K-Pf-0T_7_JZaXkbVE_KpA_Nfm1ijvU&callback=initialize"
                                async defer>
                        </script>
                    </div>

                    <div class="vr d-none d-md-block"></div>

                    <div class="card-body p-4">
                        <div class="card-title-container w-100 pb-3">
                            <h1 class="card-title text-dark text-center text-light font-weight-bold">Add a new
                                Marker</h1>
                        </div>

                        <form id="frm" class="frm" th:object="${marker}" th:action="@{/addMarker}" method="POST">

                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Visibility</span>
                                <label for="visibility"></label>
                                <select id="visibility" class="form-select text-center fw-bold pe-0"
                                        th:field="*{visibility}">
                                    <option th:value="1">Visible</option>
                                    <option th:value="0">Hidden</option>
                                </select>
                            </div>

                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Area</span>
                                <label for="area"></label>
                                <input id="area" type="text" class="form-control text-center fw-bold"
                                       placeholder="Type an area.."
                                       th:field="*{area}" required/>
                            </div>

                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Difficulty</span>
                                <label for="difficulty"></label>
                                <select id="difficulty" class="form-select text-center fw-bold pe-0"
                                        th:field="*{difficulty}" required>
                                    <option th:value="easy">Easy</option>
                                    <option th:value="medium">Medium</option>
                                    <option th:value="hard">Hard</option>
                                </select>
                            </div>

                            <div class="input-group input-group-sm position-relative">
                                <span class="input-group-text">Question</span>
                                <label for="question"></label>
                                <input id="question" class="form-control text-center fw-bold"
                                       placeholder="Search a puzzle question.." autocomplete="off"/>
                                <ul class="input-box position-absolute rounded-3"></ul>
                            </div>

                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Puzzle Id</span>
                                <label for="puzzleId"></label>
                                <input id="puzzleId" type="text" class="form-control text-center" value="0"
                                       th:field="*{puzzleId}" readonly="readonly"/>
                            </div>

                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Hint</span>
                                <label for="hint"></label>
                                <input id="hint" type="text" class="form-control text-center fw-bold"
                                       placeholder="Hint at another puzzle location.." th:field="*{hint}"/>
                            </div>

                            <div class="latLong mt-4 pt-3">
                                <script>
                                    window.onload = function clearLatLongValues() {
                                        document.getElementById("latitude").value = "";
                                        document.getElementById("longitude").value = "";
                                    }
                                </script>
                                <div class="overlay-text px-3"><span class="text-info"> <i
                                        class="bi bi-info-circle"></i> Click inside the map! </span></div>
                                <div class="input-group input-group-sm p-2">
                                    <span class="input-group-text">Latitude</span>
                                    <label for="latitude"></label>
                                    <input id="latitude" type="text" class="form-control text-center fw-bold"
                                           th:field="*{latitude}" required/>
                                </div>
                                <div class="input-group input-group-sm p-2">
                                    <span class="input-group-text">Longitude</span>
                                    <label for="longitude"></label>
                                    <input id="longitude" type="text" class="form-control text-center fw-bold"
                                           th:field="*{longitude}" required/>
                                </div>

                            </div>

                            <div class="form-buttons d-flex flex-row-reverse mt-3">
                                <button class="btn btn-success form-control" type="submit" name="action"
                                        value="save">
                                    Add
                                </button>
                                <button class="btn btn-danger form-control" type="submit" name="action"
                                        value="cancel" formnovalidate>
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const question = document.querySelector("#question");
            const puzzleId = document.querySelector("#puzzleId");
            const inputBox = document.querySelector(".input-box");

            question.addEventListener("input", async event => {
                inputBox.innerHTML = "";
                const response = await fetch("autocomplete?term=" + event.target.value);
                const results = await response.json();
                inputBox.style.display = "block";

                results.forEach(result => {
                    const suggestion = document.createElement("li");
                    suggestion.textContent = result.question;
                    suggestion.setAttribute("id", result.id);

                    suggestion.addEventListener("click", event => {
                        question.value = suggestion.innerText;
                        puzzleId.value = event.target.getAttribute("id");
                        inputBox.style.display = "none";
                    });
                    inputBox.appendChild(suggestion);
                });
            });

            document.addEventListener("click", event => {
                if (!inputBox.contains(event.target)) {
                    inputBox.style.display = "none";
                }
            });
        });
    </script>

</section>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>