<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Add User</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>

<body>
<section class="container-fluid">

    <div class="card-container h-100 w-100">
        <div class="col-lg-11 col-xl-10 mx-auto">

            <div class="card glassCard shadow-lg rounded-5 m-3 overflow-hidden">

                <div class="card-main-container w-100 d-flex">
                    <span class="card-left-img d-none d-md-flex align-middle align-items-center justify-content-center">
                        <img src="" class="img-fluid" th:src="@{/img/svg/person-plus-fill.svg}" alt="">
                    </span>

                    <div class="vr d-none d-md-block"></div>

                    <div class="card-body p-4">
                        <div class="card-title-container w-100 pb-3">
                            <h1 class="card-title text-dark text-center">Add a new User</h1>
                        </div>

                        <form th:object="${user}" th:action="@{/addUser}" autocomplete="off" method="post">

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control fw-bold" id="floatingEmail" placeholder="email"
                                       th:field="*{email}" autofocus required/>
                                <label for="floatingEmail">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control fw-bold" id="floatingUsername"
                                       placeholder="username"
                                       th:field="*{username}" autocomplete="off" required/>
                                <label for="floatingUsername">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control fw-bold" id="floatingPassword"
                                       placeholder="password" th:field="*{password}" autocomplete="new-password"
                                       required/>
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control fw-bold" id="floatingPoints"
                                       placeholder="points" th:field="*{points}"/>
                                <label for="floatingPoints">Points</label>
                            </div>

                            <div class="form-buttons d-flex flex-row-reverse">
                                <button class="btn btn-success form-control" type="submit" name="action"
                                        value="save">
                                    Add
                                </button>
                                <button class="btn btn-danger form-control" type="submit" name="action"
                                        value="cancel" formnovalidate>
                                    Cancel
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>