<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Markers</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">

</head>
<body>

<div class="table-responsive table-responsive-sm">
    <table class="table table-hover table-scrollable">
        <thead>
        <tr class="text-center">
            <th scope="col"> Id</th>
            <th scope="col"> Latitude</th>
            <th scope="col"> Longitude</th>
            <th scope="col"> Area</th>
            <th scope="col"> Difficulty</th>
            <th scope="col"> PuzzleId</th>
            <th scope="col"> Visibility</th>
            <th scope="col"> Hint</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${markers.isEmpty()}">
            <td colspan="2"> No Markers Available</td>
        </tr>
        <tr scope="row" th:each="marker : ${markers}">
            <td><span th:text="${marker.id}"> Id </span></td>
            <td><span th:text="${marker.latitude}"> Latitude </span></td>
            <td><span th:text="${marker.longitude}"> Longitude </span></td>
            <td><span th:text="${marker.area}"> Area </span></td>
            <td><span th:text="${marker.difficulty}"> Difficulty </span></td>
            <td><span th:text="${marker.puzzleId}"> PuzzleId</span></td>
            <td><span th:text="${marker.visibility}"> Visibility </span></td>
            <td><span th:text="${marker.hint}"> Hint </span></td>
            <td class="text-center align-middle">
                <div class="btn-group-vertical d-flex" role="group">
                    <a th:href="@{/editMarker/{id}(id=${marker.id})}" class="btn btn-success">Edit</a>
                    <a th:href="@{/deleteMarker/{id}(id=${marker.id})}" id="deleteButton" class="btn btn-danger"
                       data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>

    <div class="d-flex text-center justify-content-center p-3">
        <a class="plus-button" href="/addMarker" th:href="@{/addMarker}">
            <i class="bi bi-plus-circle-dotted"></i></a>
    </div>

    <link th:insert="fragments/deleteModal :: delete">
</div>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>