<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | All Puzzles</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">

</head>
<body>
<div class="table-responsive table-responsive-sm">
    <table class="table table-hover table-scrollable">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Question</th>
            <th scope="col"> Answer</th>
            <th scope="col"> Points</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${puzzles.isEmpty()}">
            <td colspan="2"> No Puzzles Available</td>
        </tr>
        <tr scope="row" th:each="puzzle : ${puzzles}">
            <td><span th:text="${puzzle.id}"> Id </span></td>
            <td><span th:text="${puzzle.question}"> Question </span></td>
            <td><span th:text="${puzzle.answer}"> Answer </span></td>
            <td><span th:text="${puzzle.points}"> Points </span></td>
            <td class="text-center align-middle">
                <div class="btn-group-vertical d-flex" role="group">
                    <a th:href="@{/editPuzzle/{id}(id=${puzzle.id})}" class="btn btn-success">Edit</a>
                    <a th:href="@{/deletePuzzle/{id}(id=${puzzle.id})}" id="deleteButton" class="btn btn-danger"
                       data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex text-center justify-content-center p-3">
        <a class="plus-button" href="/addPuzzle" th:href="@{/addPuzzle}"><i
                class="bi bi-plus-circle-dotted"></i></a>
    </div>

    <link th:insert="fragments/deleteModal :: delete">
</div>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>