<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Users</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">


</head>
<body>
<div class="table-responsive table-responsive-sm">

    <table class="table table-hover table-scrollable">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Username</th>
            <th scope="col"> Points</th>
            <th scope="col"> Email</th>
            <th scope="col"> Date Created</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:if="${users.isEmpty()}">
            <td colspan="2">The user table is empty or not available!</td>
        </tr>
        <tr scope="row" th:each="user, status : ${users}">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.username}"> Username </span></td>
            <td><span th:text="${user.points}"> Points </span></td>
            <td><span th:text="${user.email}"> Email </span></td>
            <td><span th:text="${user.dateCreated}"> Date Created </span></td>
            <td class="text-center align-middle">
                <div class="btn-group-vertical d-flex" role="group">
                    <a th:href="@{/editUser/{id}(id=${user.id})}" class="btn btn-success">Edit</a>
                    <a th:href="@{/deleteUser/{id}(id=${user.id})}" id="deleteButton" class="btn btn-danger"
                       data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>

    <div class="d-flex text-center justify-content-center p-3">
        <a class="plus-button" href="/addUser" th:href="@{/addUser}">
            <i class="bi bi-plus-circle-dotted"></i></a>
    </div>

    <link th:insert="fragments/deleteModal :: delete">
</div>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>