<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Puzzle</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>
<body>
<section>

    <div class="card-container h-100 w-100">
        <div class="col-lg-11 col-xl-10 mx-auto">

            <div class="card glassCard shadow-lg rounded-5 m-3 overflow-hidden">

                <div class="card-main-container w-100 d-flex">
                    <span class="card-left-img d-none d-md-flex align-middle align-items-center justify-content-center">
                        <img src="" class="img-fluid" th:src="@{/img/svg/puzzle.svg}" alt=""
                             style="transform: rotate(90deg);">
                    </span>

                    <div class="vr d-none d-md-block"></div>

                    <div class="card-body p-4">
                        <div class="card-title-container w-100 pb-3">
                            <h1 class="card-title text-dark text-center text-light font-weight-bold">Edit
                                Puzzle</h1>
                        </div>

                        <form th:object="${puzzle}" th:action="@{/editPuzzle/{id}(id=${puzzle.id})}" method="post">

                            <div class="form-floating mb-3">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
                                <input type="text" class="form-control text-black-50" id="floatingId" placeholder="id"
                                       th:field="*{id}" disabled/>
                                <label for="floatingId" id="id">Id</label>
                            </div>

                            <div class="form-floating mb-3">
                                <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></span>
                                <textarea class="form-control fw-bold" style="height: 100px;" id="floatingQuestion"
                                          placeholder="question"
                                          th:field="*{question}" autofocus required> </textarea>
                                <label for="floatingQuestion" id="question">Question</label>
                            </div>

                            <div class="form-floating mb-3">
                                <span th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></span>
                                <input type="text" class="form-control fw-bold" id="floatingAnswer" placeholder="answer"
                                       th:field="*{answer}" required/>
                                <label for="floatingAnswer" id="answer">Answer</label>
                            </div>

                            <div class="form-floating mb-3">
                                <span th:if="${#fields.hasErrors('points')}" th:errors="*{points}"></span>
                                <input type="text" class="form-control fw-bold" id="floatingPoints" placeholder="points"
                                       th:field="*{points}"/>
                                <label for="floatingPoints" id="points">Points</label>
                            </div>

                            <div class="form-buttons d-flex flex-row-reverse">
                                <button class="btn btn-success form-control" type="submit" name="action"
                                        value="save">
                                    Save
                                </button>
                                <button class="btn btn-danger form-control" type="submit" name="action"
                                        value="cancel" formnovalidate>
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<link th:insert="fragments/bootstrap :: script">
</body>
</html>