<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Home</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>

<body>
<section class="container-fluid">
    <div class="container">
        <div class="d-flex flex-column pt-4">

            <div class="col-12 bg-dark text-white rounded-4 p-3">
                <h2 class="opacity-75">Welcome to the admin panel,</h2>
                <h3 class="opacity-75">Below you can see how many users are registered in the database. How many Puzzles
                    and Markers you have created. Lastly you can reset the Database to some predefined values for
                    testing
                    purposes!</h3>
            </div>

            <div class="card-group cards pt-4">

                <div class="card-home card bg-dark">
                    <a href="/allUsers">
                        <div class="card-img text-white text-center p-4">
                            <i class="bi bi-people i-home" style="color: lightgreen;"></i>
                        </div>
                        <div class="card-footer text-white text-center">
                            <h1 th:text="${countUsers}" class=""></h1>
                            <h2>Users</h2>
                        </div>
                    </a>
                </div>

                <div class="card-home card bg-dark">
                    <a href="/allPuzzles">
                        <div class="text-white text-center p-4">
                            <i class="bi bi-puzzle i-home" style="color: lightseagreen;"></i>
                        </div>
                        <div class="card-footer text-white text-center">
                            <h1 th:text="${countPuzzles}"></h1>
                            <h2>Puzzles</h2>
                        </div>
                    </a>
                </div>

                <div class="card-home card bg-dark">
                    <a href="/allMarkers">
                        <div class="text-white text-center p-4">
                            <i class="bi bi-geo-alt i-home" style="color: lightcoral;"></i>
                        </div>
                        <div class="card-footer text-white text-center">
                            <h1 th:text="${countMarkers}"></h1>
                            <h2>Markers</h2>
                        </div>
                    </a>
                </div>

                <div class="card-home card bg-dark">
                    <a id="resetDB" data-bs-toggle="modal" data-bs-target="#resetModal">
                        <div class="text-white text-center p-4">
                            <i class="bi bi-arrow-counterclockwise i-home" style="color: lightblue;"></i>
                        </div>
                        <div class="card-footer text-white text-center">
                            <h2>Reset</h2>
                            <h2>Database</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>

<link th:insert="fragments/bootstrap :: script">
</body>

</html>