<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH | Login</title>
    <link th:insert="fragments/bootstrap :: style">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">

</head>
<body class="login-body">

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center">

            <div class="mt-5 ms-xl-4">
                    <span class="h1 fw-bold mb-0">
                        <img class="img-fluid" src="" th:src="@{/img/svg/default-monochrome-black.svg}" alt="">
                    </span>
            </div>

            <div class="ms-xl-4 mt-3 pt-3 mt-xl-n5 d-flex flex-column align-items-center justify-content-center">

                <form name="login" th:action="@{/login}" method="POST">

                    <div class="form-inline mb-2 text-center">
                        <label for="username"></label>
                        <input class="form-control form-control-lg text-center" id="username"
                               name="username" placeholder="Username/Email..">
                    </div>

                    <div class="form-inline mb-4 text-center">
                        <label for="password"></label>
                        <input class="form-control form-control-lg text-center" id="password" type="password"
                               name="password" placeholder="Password.."/>
                    </div>

                    <div class="text-center pt-2 mb-2">
                        <input type="submit" class="btn btn-lg btn-block btn-outline-dark fw-bold"
                               value="Log in"/>
                    </div>

                </form>

                <form name="guestLogin" action="#" th:action="@{/login}" method="POST">
                    <input class="form-control" type="hidden" id="guestUsername" name="username"
                           value="guest"/>
                    <input class="form-control" type="hidden" id="guestPassword" name="password"
                           value="1234"/>
                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-block btn-outline-dark fw-bold"
                               value="Demo Account"/>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-sm-6 p-0 d-none d-sm-block img-fluid">
            <img src="" class="w-100 vh-100 bg-image-vertical position-sticky login-image"
                 th:src="@{/img/login-treasure-image.jpg}" alt="Login image">
        </div>
    </div>
</section>

<div th:insert="fragments/bootstrap :: script"></div>
</body>
</html>