<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link th:insert="fragments/bootstrap :: style">
    <link th:insert="fragments/navbar :: nav">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>

<body>
<div class="wrapper d-flex flex-column align-items-center justify-content-center">
    <div class="search-page-field d-lg-none col-8 mx-auto px-3 py-3">
        <form class="form d-flex" th:action="@{/search}" method="get">
            <label for="search"></label>
            <input id="search" class="form-control fw-bold" type="search" name="term" minlength="3"
                   placeholder="Search.." required>
            <button class="btn btn-lg btn-info search-btn" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <div class="main-container col-12 px-3 py-4">

        <div class="search-results mt-3 pt-4 px-3">

            <div class="overlay-search pb-3"><span class="text-info pe-3">
                <i class="bi bi-search px-3"></i>Search Results</span>
            </div>

            <div class="table-responsive table-responsive-sm d-flex flex-column">
                <div class="search-results-child" style="background-color: rgba(144,238,144,0.5);">
                    <div class="overlay-search-child d-flex justify-content-center pt-3">
                        <span class="bg-dark pe-3" style="color: lightgreen;"><i class="bi bi-people px-3"></i>
                        Users</span>
                    </div>
                    <div class="table-users py-2">
                        <table class="table table-striped table-borderless table-scrollable">
                            <thead>
                            <tr class="bg-dark text-white">
                                <th scope="col"> Id</th>
                                <th scope="col"> Username</th>
                                <th scope="col"> Points</th>
                                <th scope="col"> Email</th>
                                <th scope="col"> Date Created</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            <tr th:if="${users?.isEmpty()}">
                                <td colspan="12" class="text-center fw-bold">We couldn't find any user with the criteria
                                    you submitted.
                                </td>
                            </tr>
                            <tr scope="row" th:each="user, status : ${users}">
                                <td><span th:text="${user.id}"> Id </span></td>
                                <td><span th:text="${user.username}"> Username </span></td>
                                <td><span th:text="${user.points}"> Points </span></td>
                                <td><span th:text="${user.email}"> Email </span></td>
                                <td><span th:text="${user.dateCreated}"> Date Created </span></td>
                                <td class="d-flex text-center justify-content-end">
                                    <div class="btn-group-vertical batons d-flex" role="group">
                                        <a th:href="@{/editUser/{id}(id=${user.id})}" class="btn btn-success">Edit</a>
                                        <a th:href="@{/deleteUser/{id}(id=${user.id})}" id="deleteButton"
                                           class="btn btn-danger"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="search-results-child" style="background-color: rgba(32,178,170,0.5);">
                    <div class="overlay-search-child d-flex justify-content-center pt-3">
                        <span class="bg-dark pe-3" style="color: lightseagreen;"><i class="bi bi-puzzle px-3"></i>
                        Puzzles</span>
                    </div>
                    <div class="table-puzzles py-2">
                        <table class="table table-striped table-borderless table-scrollable">
                            <thead>
                            <tr class="bg-dark text-white">
                                <th scope="col"> Id</th>
                                <th scope="col"> Question</th>
                                <th scope="col"> Answer</th>
                                <th scope="col"> Points</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${puzzles.isEmpty()}">
                                <td colspan="12" class="text-center fw-bold"> We couldn't find any puzzle with the
                                    criteria you submitted.
                                </td>
                            </tr>
                            <tr scope="row" th:each="puzzle : ${puzzles}">
                                <td><span th:text="${puzzle.id}"> Id </span></td>
                                <td><span th:text="${puzzle.question}"> Question </span></td>
                                <td><span th:text="${puzzle.answer}"> Answer </span></td>
                                <td><span th:text="${puzzle.points}"> Points </span></td>
                                <td class="text-center d-flex justify-content-end">
                                    <div class="btn-group-vertical batons d-flex" role="group">
                                        <a th:href="@{/editPuzzle/{id}(id=${puzzle.id})}"
                                           class="btn btn-success">Edit</a>
                                        <a th:href="@{/deletePuzzle/{id}(id=${puzzle.id})}" id="deleteButton2"
                                           class="btn btn-danger"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="search-results-child" style="background-color: rgba(240,128,128,0.5);">
                    <div class="overlay-search-child d-flex justify-content-center pt-3">
                            <span class="bg-dark pe-3" style="color: lightcoral;"><i class="bi bi-geo-alt px-3"></i>
                            Markers</span>
                    </div>
                    <div class="table-markers py-2">
                        <table class="table table-striped table-borderless table-scrollable">
                            <thead>
                            <tr class="bg-dark text-white">
                                <th scope="col"> Id</th>
                                <th scope="col"> Latitude</th>
                                <th scope="col"> Longitude</th>
                                <th scope="col"> Area</th>
                                <th scope="col"> Difficulty</th>
                                <th scope="col"> PuzzleId</th>
                                <th scope="col"> Visibility</th>
                                <th scope="col"> Hint</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${markers.isEmpty()}">
                                <td colspan="12" class="text-center fw-bold"> We couldn't find any marker with the
                                    criteria you submitted.
                                </td>
                            </tr>
                            <tr scope="row" th:each="marker : ${markers}">
                                <td><span th:text="${marker.id}"> Id </span></td>
                                <td><span th:text="${marker.latitude}"> Latitude </span></td>
                                <td><span th:text="${marker.longitude}"> Longitude </span></td>
                                <td><span th:text="${marker.area}"> Area </span></td>
                                <td><span th:text="${marker.difficulty}"> Difficulty </span></td>
                                <td><span th:text="${marker.puzzleId}"> PuzzleId</span></td>
                                <td><span th:text="${marker.visibility}"> Visibility </span></td>
                                <td><span th:text="${marker.hint}"> Hint </span></td>
                                <td class="text-center d-flex justify-content-end">
                                    <div class="btn-group-vertical batons d-flex" role="group">
                                        <a th:href="@{/editMarker/{id}(id=${marker.id})}"
                                           class="btn btn-success">Edit</a>
                                        <a th:href="@{/deleteMarker/{id}(id=${marker.id})}" id="deleteButton3"
                                           class="btn btn-danger"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <link th:insert="fragments/deleteModal :: delete">
    <link th:insert="fragments/bootstrap :: script">
</div>
</body>
</html>